* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #519959;
}
body {
    background:linear-gradient(to right,#43a149,#367d76) ;
}
    .card {
        /* display: flex; */
        width: 240px;
        height: 380px;
        background-color: #242736;
        border-radius: 5px;
        margin:  120px auto;
        padding: 12px;
    }
        .card__icon {
            color: white;
            display: flex;
            justify-content: space-between;
        }
            .card__icon i {
                z-index: 1;
                cursor: pointer;
                font-size: 20px;
            }
        .card__img {
            margin-top: 30px;
            transition: 0.5s;
        }
            .card__img img {
                width: 70%;
                height: 70%;
                object-fit: cover;
                display: flex;
                margin: 0 auto;
            }
            
        .card__name {
            color: var(--primary-color);
            text-align: center;
            margin-top: 50px;
            cursor: pointer;
        }
        .card__price {
            color: white;
            text-align: center; 
            cursor: pointer;
        }
        .card__size {
            display: flex;
            margin-top: 160px;
            visibility: hidden;
            margin-bottom: 10px;
            cursor: pointer;
            opacity: 0;
        }
            .card__size--text {
                color: white;
                font-weight: bolder;
            }
            .card__size--number {
                color: black;
                background-color: white;
                padding: 2px 8px;
                margin-left: 8px;
                border-radius: 4px;
                font-weight: bolder;
                transform: translateY(-2px);

}
        .card__color {
            display: flex;
            visibility: hidden;
            margin-bottom: 10px;
            cursor: pointer;
            opacity: 0;
        }
            .card__color--text {
                color: white;
                font-size: 18px;
                font-weight: bolder;
            }
            .card__color--value {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: white;
                margin-left: 6px;
                transform: translateY(5px);
            }
                .black {background-color: black;}
                .green {background-color: green;}
                .red {background-color: red;}
        .card__buttun {
            display: flex;
            visibility: hidden;
            cursor: pointer;
            opacity: 0;
        }
            .card__buttun button {
                background-color: var(--primary-color);
                border: none;
                padding: 6px 10px;
                margin-right: 4px;
                border-radius:4px;
                color: white;
                font-size: border;
            }

/* Hover */
.card:hover .card__img img {
    transform: rotate(-10deg)  translateY(-50px);
    /* transition: linear 0.2s; */
}
.card:hover .card__name {
    transform: translate(-22px, -50px);
    /* transition: linear 0.2s; */
}
.card:hover .card__price {
    transform: translate(-92px, -50px);
    /* transition: linear 0.2s; */
}
.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__buttun{
    visibility: visible;
    /* transform: translateY(-145px); */
    transition: linear 0.2s;
    opacity: 100;
    transition-delay: 0.1s;
    /* animation: effect linear 0.5s; */
}
.card:hover .card__size {
    margin-top: 10px;
}
/* @keyframes effect {
    from {
        transform: translateY(0px);
        opacity: 0.2;
    }
    to {
        transform: translateY(-145px);
        opacity: 1;
    }
} */

.card__buttun button:hover {
    transform: scale(90%);
}